<div class="container">
  <div class="my-3">
    <h3>Register</h3>
    <hpk-register-form></hpk-register-form>
  </div>
  <div class="my-3">
    <h3>Login</h3>
    <hpk-login-form></hpk-login-form>
  </div>
  <div class="my-3">
    <hpk-profile></hpk-profile>
  </div>
  <ng-container *ngIf="authenticatedObservable | async">
    <div class="my-3">
      <h3>Create Secret</h3>
      <hpk-secret-form></hpk-secret-form>
    </div>
    <div *ngIf="sampleSecret | async as s">
      <hpk-secret [secret]="s"></hpk-secret>
    </div>
  </ng-container>
</div>
